# ── Node Exporter Endpoints ───────────────────────────────────────────────────
MINIPC_NODE_EXPORTER=192.168.0.43:9100
LLM_NODE_EXPORTER=192.168.0.73:9100

# ── GPU Exporter ──────────────────────────────────────────────────────────────
LLM_GPU_EXPORTER=192.168.0.73:9835
